*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./image.jpg);
    background-size: cover;
}
.calculator{
    display: flex;
    align-items: center;
    justify-content: center;
   width: 300px;
    border: 5px solid #00ffff;
    flex-direction: column;
    margin: 110px auto;
    height: 390px;
  
}
.buttons{
    margin-left: 4px;
    margin-top: 20px;
    
}
button{
    width: 70px;
    height: 70px; 
    background: #00ffff;
    color: #000;
    border: none;
    cursor: pointer;
    margin: 3px 0;
}
.inp input{
    width: 300px;
    height: 60px;
    font-size: 50px;   
    border: aqua;
    color: #ff0000;
    border-radius: 20px;
    margin-top: 7px;
  
}
#one{
    margin: 4px 0;
}
#four{
    margin: 0px 0;
}
#multiplay{
    margin: 4px 0;
}

